{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2><a href="{{ url }}">{{ name }}</a></h2>
  {% endif %}
  {{ title_suffix }}
  <div class="product-age-range__detail">
    <div class="detail__title">
      {{ name }}
      {{ description }}
    </div>
    <div class="detail__image">
      {% if(field_hero_image_small.0) %}
        <div class="hero-image__image show-for-small-only" style="background-image: url({{ file_url(field_hero_image_small.0['#item'].entity.fileuri) }})"></div>
      {% endif %}
      {% if(field_hero_image_medium.0) %}
        <div class="hero-image__image show-for-medium-only" style="background-image: url({{ file_url(field_hero_image_medium.0['#item'].entity.fileuri) }})"></div>
      {% endif %}
      {% if(field_hero_image_large.0) %}
        <div class="hero-image__image show-for-large" style="background-image: url({{ file_url(field_hero_image_large.0['#item'].entity.fileuri) }})"></div>
      {% endif %}
    </div>
  </div>
  {{ content }}
</div>
